/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 100px;
}

.navbar {
    width: 100%;
    position: fixed;
    min-width: 300px;
}

.navbar-brand span {
    padding-left: 10px;
    position: relative;
    top: 4px
}

@media (max-width: 991px) {
    #btn-logout, #txt-search {
        display: none;
    }
}

@media (min-width: 992px) {
    #lnk-logout {
        display: none;
    }
}

#booklist div.left {
    float: left;
    height: 190px;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    margin-left: 1em;
    margin-right: 2em;
}

#booklist div.right {
    max-height: 320px;
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
}

#booklist .title {
    font-size: larger;
}

#booklist .summary {
    margin-bottom: 2ex;
    border-bottom: solid 1px black;
}

#booklist .authors {
    padding-bottom: 10px;
}

#booklist .comments {
    padding-top: 10px;
}

#booklist img.cover {
    width: 100px;
}

#authorlist thead tr {
    font-weight: bold;
    background-color: #EEEEEE;
}
    #authorlist thead tr td {
        padding: 10px;
    }

#authorlist tbody tr td {
    padding: 5px 10px;
}

#authorlist tbody tr:hover {
    background-color: #eeeeff;
    cursor: pointer;
}

#userlist thead tr {
    font-weight: bold;
    background-color: #EEEEEE;
}

    #userlist thead tr td {
        padding: 10px;
    }

#userlist tbody tr td {
    padding: 5px 10px;
}

#userlist tbody tr:hover {
    background-color: #eeeeff;
}

    #userlist tbody tr img:hover {
        filter: invert(17%) sepia(76%) saturate(6596%) hue-rotate(357deg) brightness(105%) contrast(116%);
        cursor: pointer;
    }

#userlist thead img:hover {
    filter: invert(39%) sepia(43%) saturate(3270%) hue-rotate(94deg) brightness(99%) contrast(103%);
    cursor: pointer;
}

h2 {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 30px;
    margin-top: -20px;
}

#btn-logout {
    cursor: pointer;
    margin-right: 20px
}

.login-form {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
}

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 8px;
        line-height: 32px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .login-form input[type="submit"] {
        margin-top: 20px;
        border: 1px solid lightgray;
        border-radius: 8px;
        padding: 5px 20px;
    }

.login-err {
    color: red;
    padding-top: 10px;
}